[Unit]
Description=Moodlight MQTT service
Wants=network.target network-online.target dev-ttyAMA0.device
After=network.target network-online.target dev-ttyAMA0.device

[Service]
ExecStart=/usr/local/bin/moodlights_mqtt /dev/ttyAMA0

[Install]
WantedBy=multi-user.target
