[Unit]
Description=Moodlight MQTT service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/moodlights_mqtt /dev/ttyUSB0

[Install]
WantedBy=multi-user.target
